{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="icon" href="{% static 'ratp/img/denshasncf.jpeg' %}">
    <link rel="stylesheet" href="{% static 'ratp/CSS/show.css' %}">

</head>
<body>

    

    
    <header>
        <h1>D E N S H A S N C F</h1>
        <nav>
            <ul>
                <li><a href="../random">Aléatoire</a></li>
                <li><a href="../index">Accueil</a></li>
            </ul>
        </nav>
    </header>
    <h3>{{id}}</h3><!-- on stocke l'id pour pouvoir l'utiliser dans le js -->
    <div id="container">
        <h1>BON VOYAGE</h1>
        <div class="info">
            <h1><span>Train Numero: </span> {{id}}</h1>
            <h1><span>Nombre d'arrêts: </span>{{arrets}}</h1>
            <h1><span>Destination: </span>{{destination}}</h1>
            <h1><span>Départ: </span>{{depart}}</h1>
            <h1><span>Arrivée:</span>{{arrive}}</h1>
        </div>
        <div class="bouton">
            <button id="moins">Précédent</button>
            <button id="plus">Suivant</button>
        </div>
    </div>
    <footer>
        <p>DenshaSncf Company.@Copyrights Tous droits réservés</p>
    </footer>
    <script>
        moins=document.querySelector("#moins")
        plus=document.querySelector("#plus")
        //lorsqu'on cliquera sur les boutons, on incrémentera, ou décrémentera l'id en fonction du bouton cliqué
        moins.addEventListener("click",function(e){
            e.preventDefault
            h=document.querySelector("h3").innerHTML
            if(h==1){
                h= 20 
            }else{
                h= parseInt(h)-1
            }
            window.location.href=`./${h}`;
        })
        plus.addEventListener("click",function(e){
            e.preventDefault
            h=document.querySelector("h3").innerHTML
            if(h==20){
                h= 1 
            }else{
                h= parseInt(h)+1
            }
            window.location.href=`./${h}`;
        })
  
    </script>
</body>
</html>